workflow-service/step-function.json
{
    "Comment": "Flujo simplificado de pedido de hamburguesas - Taller Serverless",
    "StartAt": "ValidarStock",
    "States": {
        "ValidarStock": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:287807590791:function:burger-kitchen-dev-validateStock",
            "Catch": [
                {
                    "ErrorEquals": [
                        "StockError"
                    ],
                    "Next": "PedidoFalloStock"
                }
            ],
            "Next": "EsperarConfirmacionCocina",
            "ResultPath": "$.stockValidation"
        },
        "PedidoFalloStock": {
            "Type": "Fail",
            "Cause": "No hay stock suficiente",
            "Error": "StockError"
        },
        "EsperarConfirmacionCocina": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
            "Parameters": {
                "FunctionName": "arn:aws:lambda:us-east-1:287807590791:function:burger-auth-dev-registerToken",
                "Payload": {
                    "taskToken.$": "$$.Task.Token",
                    "order_id.$": "$.order_id",
                    "local_id.$": "$.local_id",
                    "stage": "PENDIENTE_COCINA"
                }
            },
            "TimeoutSeconds": 300,
            "Next": "DecisionCocina",
            "ResultPath": "$.cocinaDecision"
        },
        "DecisionCocina": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.cocinaDecision.decision",
                    "StringEquals": "ACEPTAR",
                    "Next": "EnPreparacion"
                }
            ],
            "Default": "PedidoRechazadoCocina"
        },
        "PedidoRechazadoCocina": {
            "Type": "Fail",
            "Cause": "Cocina rechazó el pedido",
            "Error": "KitchenReject"
        },
        "EnPreparacion": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
            "Parameters": {
                "FunctionName": "arn:aws:lambda:us-east-1:287807590791:function:burger-auth-dev-registerToken",
                "Payload": {
                    "taskToken.$": "$$.Task.Token",
                    "order_id.$": "$.order_id",
                    "local_id.$": "$.local_id",
                    "stage": "COCINANDO"
                }
            },
            "TimeoutSeconds": 300,
            "Next": "EsperarDelivery",
            "ResultPath": "$.preparacionInfo"
        },
        "EsperarDelivery": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
            "Parameters": {
                "FunctionName": "arn:aws:lambda:us-east-1:287807590791:function:burger-auth-dev-registerToken",
                "Payload": {
                    "taskToken.$": "$$.Task.Token",
                    "order_id.$": "$.order_id",
                    "local_id.$": "$.local_id",
                    "stage": "LISTO_PARA_RECOJO"
                }
            },
            "TimeoutSeconds": 300,
            "Next": "DecisionDelivery",
            "ResultPath": "$.deliveryDecision"
        },
        "DecisionDelivery": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.deliveryDecision.decision",
                    "StringEquals": "ACEPTAR",
                    "Next": "EnCamino"
                }
            ],
            "Default": "PedidoRechazadoDelivery"
        },
        "PedidoRechazadoDelivery": {
            "Type": "Fail",
            "Cause": "Delivery rechazó el pedido",
            "Error": "DeliveryReject"
        },
        "EnCamino": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
            "Parameters": {
                "FunctionName": "arn:aws:lambda:us-east-1:287807590791:function:burger-auth-dev-registerToken",
                "Payload": {
                    "taskToken.$": "$$.Task.Token",
                    "order_id.$": "$.order_id",
                    "local_id.$": "$.local_id",
                    "stage": "EN_CAMINO"
                }
            },
            "TimeoutSeconds": 300,
            "Next": "PedidoEntregado",
            "ResultPath": "$.entregaInfo"
        },
        "PedidoEntregado": {
            "Type": "Succeed"
        }
    }
}