workflow-service/step-function-definition.yml
Comment: "Flujo simplificado de pedido de hamburguesas - Sin despachador"
StartAt: ValidarStock
States:
  ValidarStock:
    Type: Task
    Resource:
      Fn::ImportValue: ValidateStockLambdaArn-${sls:stage}
    Catch:
      - ErrorEquals:
          - StockError
        Next: PedidoFalloStock
    Next: EsperarConfirmacionCocina
    ResultPath: $.stockValidation
  
  PedidoFalloStock:
    Type: Fail
    Cause: "No hay stock suficiente para completar el pedido"
    Error: StockError
  
  EsperarConfirmacionCocina:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke.waitForTaskToken
    Parameters:
      FunctionName:
        Fn::ImportValue: RegisterTokenLambdaArn-${sls:stage}
      Payload:
        taskToken.$: "$$.Task.Token"
        order_id.$: "$.order_id"
        local_id.$: "$.local_id"
        stage: PENDIENTE_COCINA
    TimeoutSeconds: 900
    Catch:
      - ErrorEquals:
          - States.Timeout
        Next: PedidoExpirado
    Next: DecisionCocina
    ResultPath: $.cocinaDecision
  
  DecisionCocina:
    Type: Choice
    Choices:
      - Variable: "$.cocinaDecision.decision"
        StringEquals: RECHAZADO
        Next: PedidoRechazadoCocina
      - Variable: "$.cocinaDecision.decision"
        StringEquals: ACEPTAR
        Next: EnPreparacion
    Default: PedidoRechazadoCocina
  
  PedidoRechazadoCocina:
    Type: Fail
    Cause: "Cocina rechazó el pedido"
    Error: KitchenReject
  
  EnPreparacion:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke.waitForTaskToken
    Parameters:
      FunctionName:
        Fn::ImportValue: RegisterTokenLambdaArn-${sls:stage}
      Payload:
        taskToken.$: "$$.Task.Token"
        order_id.$: "$.order_id"
        local_id.$: "$.local_id"
        stage: COCINANDO
    TimeoutSeconds: 900
    Catch:
      - ErrorEquals:
          - States.Timeout
        Next: PedidoExpirado
    Next: ListoParaEntrega
    ResultPath: $.preparacionInfo
  
  ListoParaEntrega:
    Type: Pass
    Result: "Pedido listo para entrega"
    ResultPath: $.statusInfo
    Next: EsperarDelivery
  
  EsperarDelivery:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke.waitForTaskToken
    Parameters:
      FunctionName:
        Fn::ImportValue: RegisterTokenLambdaArn-${sls:stage}
      Payload:
        taskToken.$: "$$.Task.Token"
        order_id.$: "$.order_id"
        local_id.$: "$.local_id"
        stage: LISTO_PARA_RECOJO
    TimeoutSeconds: 1800
    Catch:
      - ErrorEquals:
          - States.Timeout
        Next: PedidoExpirado
    Next: DecisionDelivery
    ResultPath: $.deliveryDecision
  
  DecisionDelivery:
    Type: Choice
    Choices:
      - Variable: "$.deliveryDecision.decision"
        StringEquals: RECHAZADO
        Next: DeliveryFallido
      - Variable: "$.deliveryDecision.decision"
        StringEquals: ACEPTAR
        Next: EnCamino
    Default: DeliveryFallido
  
  DeliveryFallido:
    Type: Fail
    Cause: "Delivery rechazó el pedido"
    Error: DeliveryReject
  
  EnCamino:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke.waitForTaskToken
    Parameters:
      FunctionName:
        Fn::ImportValue: RegisterTokenLambdaArn-${sls:stage}
      Payload:
        taskToken.$: "$$.Task.Token"
        order_id.$: "$.order_id"
        local_id.$: "$.local_id"
        stage: EN_CAMINO
    TimeoutSeconds: 1800
    Catch:
      - ErrorEquals:
          -States.Timeout
        Next: PedidoExpirado
    Next: PedidoEntregado
    ResultPath: $.entregaInfo
  
  PedidoEntregado:
    Type: Succeed
  
  PedidoExpirado:
    Type: Fail
    Cause: "El pedido expiró por timeout"
    Error: Timeout
